*{
  margin: 0;
  padding: 0;
  font-family: arial;
}

#mission {
  border: 2px solid #eee;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

#mission h1 {
  font-size: 40px;
  color: rgba(68, 189, 50, 0.9);
}

#mission img {
  width: 40%;
  height: 100%;
  margin: 10px 0px;
}

.mission-inner p {
  font-size: 20px;
  color: #727272;
}
