* {
  padding: 0;
  margin: 0;
  font-family: arial;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  padding: 0px 30px;
  z-index: 99;
  border-bottom: 2px solid #eee;
  position: fixed;
  background: #ffff;
  box-sizing: border-box;
}

#logo {
  height: 50px;
  line-height: 50px;
  float: left;
}

.bar-btn {
  float: right;
  transform: rotate(90deg);
  height: 50px;
  width: 50px;
  display: flex;
  text-align: center;
  display: none;
}

.bar-btn p {
  cursor: pointer;
  font-size: 21px;
}

.bar-btn p:active {
  color: #1a73e8;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  display: inline-flex;
}

nav ul a {
  color: #333333;
  text-decoration: none;
  padding: 0px 20px;
  display: block;
  height: 50px;
  line-height: 50px;
}

nav ul a:hover {
  background: rgba(13, 139, 242, 0.2);
  color: rgb(13, 139, 242);
  border-radius: 5px;
}


@media screen and (max-width:1000px) {
  header {
    padding: 0px 20px;
  }
}


@media screen and (max-width:650px) {

  header {
    padding: 0px 10px;
  }

  .bar-btn {
    display: block;
  }

  .topdown {
    right: 0px;
  }

  nav {
    position: absolute;
    top: 51px;
    right: -700px;
    height: 100vh;
    transition: 1s;
  }

  nav ul {
    background: rgba(255, 255, 255, 0.9);
    display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;

  }

  nav ul li {
    border-bottom: 1px solid #999999;
  }

  nav ul a {
    color: #444444;
  }
}
