* {
  padding: 0;
  margin: 0;
  font-family: arial;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  padding: 0px 30px;
  z-index: 99;
  border-bottom: 2px solid #eee;
  position: fixed;
  background: #ffff;
}

#logo {
  height: 50px;
  line-height: 50px;
  float: left;
}

.bar-btn {
  float: right;
  transform: rotate(90deg);
  height: 50px;
  width: 50px;
  display: flex;
  text-align: center;
  display: none;
}

.bar-btn p {
  cursor: pointer;
  font-size: 21px;
}

.bar-btn p:active {
  color: #1a73e8;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  display: inline-flex;
}

nav ul a {
  color: #333333;
  text-decoration: none;
  padding: 0px 20px;
  display: block;
  height: 50px;
  line-height: 50px;
}

nav ul a:hover {
  background: rgba(68, 189, 50, 0.9);
  color: #ffff;
  border-radius: 5px;
}

.main-head {
  width: 100%;
  padding: 30px 10px;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-para {
  height: 60%;
  width: 50%;
  padding: 20px;
}

.head-para b {
  font-size: 50px;
  color: #999999;
}

.photo1 {
  height: 60%;
  width: 50%;
}

.photo1 img {
  width: 100%;
  height: 100%;
}

.container {
    padding: 0px 20px;
}

.invest {
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
}

.invest h1 {
  font-size: 40px;
  color: rgba(68, 189, 50, 0.9);
  margin: 20px 0px;
}

.invest img {
  width: 300px;
  float: right;
}

.invest p {
  font-size: 40px;
  color: #999999;
}

.invest a {
  color: #ffff;
  text-decoration: none;
  padding: 18px 30px;
  display: inline-block;
  background: #1a73e8;
  margin: 20px 0px;
  border-radius: 8px;
}

.invest a:active {
  box-shadow: 0px 0px 0px 1px #1a73e8;
}



#mission {
  border: 2px solid #eee;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

#mission h1 {
  font-size: 40px;
  color: rgba(68, 189, 50, 0.9);
}

#mission img {
  width: 40%;
  height: 100%;
  margin: 10px 0px;
}

.mission-inner p {
  font-size: 20px;
  color: #727272;
}

#Aboutus {
  margin-bottom: 30px;
  border: 2px solid #eee;
  padding: 30px;
  border-radius: 10px;
}

#Aboutus h1 {
  font-size: 40px;
  color: rgba(68, 189, 50, 0.9);
  margin-bottom: 20px;
}

#Aboutus p {
  color: #727272;
  font-size: 20px;
}

#footer {
  background: rgba(68, 189, 50, 0.9);
  color: #515151;
  padding: 35px 20px;
}

.write-to {
  margin: 20px 0px;
}

.write-to input {
  padding: 5px;
  border-radius: 8px;
  border: 0px;
}

.write-to input:focus {
  border: 2px solid #1a73e8;
  outline: none;
}

.write-to textarea:focus {
  border: 2px solid #1a73e8;
  outline: none;
}

.mail {
  height: 40px;
  margin: 10px 0px;
  display: block;
  font-size: 18px;
}

.text {
  margin: 10px 0px;
  display: block;
  font-size: 18px;
  padding: 5px;
  border-radius: 8px;
  box-sizing: border-box;
}

.write-to button {
  padding: 10px 20px;
  border: 0px;
  background: #1a73e8;
  color: #ffff;
  border-radius: 5px;
}

.write-to button:active {
  box-shadow: 0px 0px 0px 1px #1a73e8;
}

.social-link {
  text-align: center;
}

.social-link a {
  text-decoration: none;
  display: inline-block;
}

.social-link img {
  width: 50px;
  margin: 0px 10px;
}

















@media screen and (max-width:1200px) {
  .head-para b {
    font-size: 43px;
  }
}

@media screen and (max-width:1000px) {
  .head-para b {
    font-size: 35px;
  }

  .invest h1 {
    font-size: 35px;
    margin: 20px 0px;
  }

  .invest img {
    width: 250px;
  }

  .invest p {
    font-size: 35px;
  }

  #mission h1 {
    font-size: 35px;
  }

  #Aboutus h1 {
    font-size: 35px;
  }

  header {
    padding: 0px 20px;
  }
}

@media screen and (max-width:750px) {
  .head-para b {
    font-size: 30px;
  }
}

@media screen and (max-width:650px) {

  .bar-btn {
    display: block;
  }

  nav {
    display: none;
  }

  .main-head {
    display: block;
  }

  .head-para {
    width: 100%;
  }

  .head-para b {
    font-size: 30px;
  }

  .photo1 {
    height: 50%;
    width: 100%;
  }

  .invest {
    margin-top: 50px;
    padding: 15px;
  }

  .invest h1 {
    font-size: 35px;
    margin: 10px 0px;
  }

  .invest img {
    width: 250px;
  }

  .invest p {
    font-size: 35px;
  }

  .invest a {
    padding: 16px 30px;
  }

  #mission {
    padding: 20px;
  }

  #mission h1 {
    font-size: 35px;
  }

  #Aboutus {
    padding: 15px;
  }

  #Aboutus h1 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  #Aboutus p {
    font-size: 18px;
  }

}

@media screen and (max-width:450px) {
  .invest img {
    width: 150px;
  }

  .invest p {
    font-size: 28px;
  }
}
